* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: radial-gradient(circle farthest-side, #7e3244, #241320);
  background-repeat: no-repeat;
  height: 100%;
}

.navigation {
  padding: 20px 20px;
  text-transform: uppercase;
  text-align: right;
  display: block;
  background-color: #351926;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 75%);
}

.navigation a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 10px;
}

.navigation a:hover {
  color: #a73e58;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 20rem;
  margin-top: 5rem;
}

/*stylování komponent*/
.main__OurProject,
.main__About {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  color: white;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
}

p {
  text-align: center;
  font-size: x-large;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
