* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100px;
  background: radial-gradient(circle farthest-side, #7e3244, #241320);
  background-repeat: no-repeat;
  height: 100%;
}

.title {
  margin-top: 270px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
}
